---
layout: default
---

<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}')">
    <p class="outer-p">
      <span class="animated-text">
        Dom's Portfolio
      </span>
    </p>
    </div>

    {% include blog/blog.liquid %}

</div>
